body{
    background-color: black;
    background-image: url(/images/Sunset.JPG);
}

h1{
    color: white
}

h3{
    color: white
}

p{
    color: white
}

li{
    color: white
}

img {
    width: 450px;
    height: 250px;
    margin: 10px;
    border-style: solid;
    border-color: black;
    border-width: 15px;
}

figcaption{
    color: white;
}